.edit_profile {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 320px;
    border: 1px solid black;
    display: none;
    background: #ffffff;
    z-index: 100;
}

.edit_profile p, .edit_email p {
    display: block;
    width: 100%;
    border: 1px solid black;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#my-name {
    margin-top: 100px;

}

.edit_profile input {
    margin-bottom: 10px;
}

.edit_email {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 320px;
    border: 1px solid black;
    display: none;
    background: #ffffff;
    z-index: 101;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    border: 1px solid black;
    padding: 10px 0;
}

.name {
    width: 49%;
    display: flex;
}

.name p {
    display: inline-block;
    width: 70%;
}

.name a {
    display: inline-block;
    height: 29px;
    text-decoration: none;
    border: 1px solid black;
    width: 60px;
    height: 30px;
    color: black;
    text-align: center;
    line-height: 29px;
}

.followUser {
    width: 49%;
}

.followUser a {
    display: inline-block;
    border: 2px solid black;
    width: 90px;
    height: 40px;
    color: black;
    text-align: center;
    line-height: 40px;
    float: right;
}

.sendPost {
    width: 100%;
    padding: 30px 0px;
}

.sendPost input {
    width: 90%
}

.posts {
    border: 1px solid black;
}

.one {
    border: 1px solid black;
    margin: 5px;
}

.close {
    width: 90px;
    height: 40px;

}

.black-overlay {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 200%;;
    width: 100%;
    background-color: black;

    z-index: 11;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70)
}